<header class="head-container">
  <div class="container mx-auto flex justify-between items-center py-4">
    <!-- Left section: Logo -->
    <div class="flex items-center">
<!--      <img src="/ZPulse-A.jpg" alt="Logo" class="h-14 w-auto mr-4">-->
      <img width="100" height="100" src="https://img.icons8.com/officel/100/biometric-passport.png" alt="biometric-passport"/>
      <p class="relative"><strong>ZXPulse</strong> | Allynn Alvarico</p>
    </div>

    <!-- Hamburger menu (for mobile) -->
    <div class="flex md:hidden">
      <button id="hamburger" class="text-white focus:outline-none">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <!-- Center section: Menu -->
    <nav class="lg-nav">
      <ul class="lg-ul">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/learn" routerLinkActive="active">Learn</a></li>
        <li><a routerLink="/quiz" routerLinkActive="active" >Quiz</a></li>
        <li><a routerLink="/timeline" routerLinkActive="active">Project Diary</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active">Developer</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>

    <!-- Right section: Buttons (for desktop) -->
<!--    <div class="hidden lg:flex items-center space-x-4">-->
<!--      <a href="#" class="bg-gray-800 hover:bg-white hover:text-black text-white font-semibold px-4 py-2 rounded inline-block">Github</a>-->
<!--      <a href="#" class="bg-blue-500 hover:bg-green-500 text-white font-semibold px-4 py-2 rounded inline-block">Download</a>-->
<!--    </div>-->
  </div>
</header>

<!-- Mobile menu -->
<nav id="mobile-menu-placeholder" class="mobile-menu hidden flex-col items-center space-y-8 md:hidden px-8">
  <ul class="w-full text-center">
    <li class="border-b border-gray-300 pb-4 pt-4"><a routerLink="/home" class="hover:text-secondary font-bold">Home</a></li>
    <li class="border-b border-gray-300 pb-4 pt-4"><a routerLink="/learn" class="hover:text-secondary font-bold">Learn</a></li>
    <li class="border-b border-gray-300 pb-4 pt-4"><a routerLink="/quiz" class="hover:text-secondary font-bold">Quiz</a></li>
    <li class="border-b border-gray-300 pb-4 pt-4"><a href="#devmap" class="hover:text-secondary font-bold">Dev Map</a></li>
    <li class="border-b border-gray-300 pb-4 pt-4"><a href="/timeline" class="hover:text-secondary font-bold">Project Diary</a></li>
    <li class="border-b border-gray-300 pb-4 pt-4"><a href="#team" class="hover:text-secondary font-bold">Team</a></li>
    <li class="pb-4 pt-4"><a href="#contact" class="hover:text-secondary font-bold">Contact</a></li>
  </ul>
<!--  <div class="flex flex-col mt-6 space-y-2 items-center">-->
<!--    <a href="#" class="bg-green-500 hover:bg-blue-500 text-white font-semibold px-4 py-2 rounded inline-block flex items-center justify-center min-w-[110px]">Github</a>-->
<!--    <a href="#" class="bg-blue-500 hover:bg-green-500 text-white font-semibold px-4 py-2 rounded inline-block flex items-center justify-center min-w-[110px]">Download</a>-->
<!--  </div>-->
</nav>
