<section class="quiz-container" id="quiz-container">
  <h1 id="quiz-heading">Question {{questionNumber}}</h1>
  <h2 class="question" id="question-text">{{question}}</h2>
  <img [alt]="imageName" src="{{imageSource}}"/>
  <div id="options-container">
    <button
      *ngFor="let option of mcqOptions;"
      (click)="processAnswer(option)"
      [ngClass]="resetButtons(option)">
      {{ option }}</button>
<!--    [disabled]="selectedAnswer"-->
  </div>

  <div *ngIf="debuggerSwitch">
    <h3>Debugging mcqOptions:</h3>
    <pre>{{ mcqOptions | json }}</pre>
    <pre>{{ imageSource }}</pre>
    <pre>{{ score }}</pre>
  </div>
</section>
