<div class="w-full lg:w-[80%] mx-auto px-4 sm:px-10 lg:px-0 flex flex-col gap-4 pt-10 pb-20 dark:text-white">
  <!-- Title -->
  <div class="flex flex-col gap-2 mb-2 md:mb-4">
    <h2 class="text-4xl font-serif font-semibold">About Me</h2>
    <span class="w-16 h-[4px] bg-rose-500 rounded"></span>
    <span class="w-8 h-[4px] bg-rose-500 rounded"></span>
  </div>

  <h4 class="capitalize text-xl font-semibold">Hey there! I’m Allynn,
    <span class="text-blue-800"> a Business Computing student at the Technological University of Dublin.</span>
  </h4>
  <div class="about-me-container">
    <p>
      I’m all about tech and how it can solve problems in creative ways.
      I love working with both front-end and back-end development—whether it’s designing a cool website or
      building the functionality behind it, I’m excited to bring ideas to life.
    </p>
    <p>
      Right now, I’m diving deep into software development and
      also picking up some business knowledge along the way <em>(marketing, management, and accounting)</em>.
      It’s been a fun mix of learning how things work on both sides of the tech world.
    </p>
    <p>
      I’m always looking for new ways to push my skills,
      try out new ideas, and keep growing.
      If you’re interested in what I do, feel free to check out my projects!
    </p>
  </div>
</div>
