<section>
  <div class="information-container">
    <div class="col-info-frame">
      <ul>
        <li><span>Website :</span> Still Building</li>
        <li><span>Degree :</span> Bachelor of Science (Honours)</li>
        <li><span>Course :</span> Business Computing</li>
        <li><span>Location :</span> Dublin, Ireland</li>
      </ul>
      <ul>
        <li><span>Email :</span> allynnalvarico22&#64;gmail.com</li>
        <li ><span  >Employment :</span> Student & Part-Time</li>
        <li ><span>Freelance :</span> Available</li>
      </ul>
    </div>
    <div class=" btn-container">
      <button class="px-4 sm:px-6 py-2 bg-blue-600 rounded-full text-white font-bold">Download CV</button>
      <a routerLink="/contact" class="px-4 sm:px-6 py-2 bg-blue-600 rounded-full text-white font-bold">Contact Me</a>
    </div>
  </div>

</section>
