<section>

  <div class="quiz-footer">
    <p id="check-answer"></p>
    <p id="correct-answer"></p>
    <button id="next-question" (click)="nextQuestion()">Next Question</button>
  </div>

  <div id="score-container">
    <p>Your Score: {{getScore()}}</p>
  </div>

  <div id="quiz-length-container">
    <!--    <p>Quiz <span id="lengthofquiz">{{currentQuestionIndex}}</span></p>-->
  </div>

  <div id="performance-tracker">
    <!-- This will display the tracker for each category -->
  </div>
</section>
