<section>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-8 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2>Your Go-To Quiz App for Driving Success</h2>
          <h1>Know Irish Road Signs Quickly and Easily</h1>
          <p>
            Whether you're preparing for the professional driving test or simply brushing up on your knowledge of Irish
            road signs, our web app has you covered.
          </p>
          <aside>
            <article>
              <dt>
                <img width="50" height="50" src="https://img.icons8.com/ios/50/test-passed.png" alt="test-passed"/>
                Interactive Quiz Modes
              </dt>
              <dd class="inline">Choose from <strong>Basic Mode</strong> or <strong>Picture mode</strong> to learn at
                your own pace.
              </dd>
            </article>
            <article>
              <dt>
                <img width="50" height="50" src="https://img.icons8.com/ios/50/web-analystics.png"
                     alt="web-analystics"/>
                Performance Analysis
              </dt>
              <dd class="inline">Receive detailed insights and feedback on your strengths and areas to improve after
                every session.
              </dd>
            </article>
            <article>
              <dt>
                <img width="50" height="50" src="https://img.icons8.com/ios/50/thumb-up--v1.png" alt="thumb-up--v1"/>
                User-Friendly Experience
              </dt>
              <dd class="inline">Built with simplicity and accessibility in mind, our app makes learning Irish road
                signs a breeze for everyone.
              </dd>
            </article>
          </aside>
        </div>
        <div class="button-container">
          <a routerLink="/quiz" class="btnStartQuiz">Start Quiz</a>
          <a routerLink="/learn" class="btnStudy">Study Road Signs<span aria-hidden="true">→</span></a>
        </div>
      </div>
      <img src="/roadsigns.png" alt="road signs screenshot" class="aboutQuizImg">
    </div>
  </div>
</section>
