<!--<section class="w-full flex flex-col gap-2">-->
<!--  &lt;!&ndash; Progress bar 1 &ndash;&gt;-->
<!--  <div class="stat-container">-->
<!--    <div class="w-full flex justify-between font-semibold">-->
<!--      <span>WordPress</span>-->
<!--      <span>92 %</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Progress bar &ndash;&gt;-->
<!--    <div class="progress-bar">-->
<!--      <div class="progress-bar-fill w-[92%]">-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Progress bar 2 &ndash;&gt;-->
<!--  <div class="stat-container">-->
<!--    <div class="progress-bar-header">-->
<!--      <span>HTML/CSS/Javascript</span>-->
<!--      <span>90 %</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Progress bar &ndash;&gt;-->
<!--    <div class="progress-bar">-->
<!--      <div class="progress-bar-fill w-[90%]"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Progress bar 3 &ndash;&gt;-->
<!--  <div class="stat-container">-->
<!--    <div class="progress-bar-header">-->
<!--      <span>PHP/Laravel</span>-->
<!--      <span>80 %</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Progress bar &ndash;&gt;-->
<!--    <div class="progress-bar">-->
<!--      <div class="progress-bar-fill w-[80%]"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Progress bar 4 &ndash;&gt;-->
<!--  <div class="stat-container">-->
<!--    <div class="progress-bar-header">-->
<!--      <span>Vue/Nuxt</span>-->
<!--      <span>85 %</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Progress bar &ndash;&gt;-->
<!--    <div class="progress-bar">-->
<!--      <div class="progress-bar-fill w-[85%]"></div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Progress bar 4 &ndash;&gt;-->
<!--  <div class="stat-container">-->
<!--    <div class="progress-bar-header">-->
<!--      <span>Nestjs</span>-->
<!--      <span>70 %</span>-->
<!--    </div>-->
<!--    &lt;!&ndash; Progress bar &ndash;&gt;-->
<!--    <div class="progress-bar">-->
<!--      <div class="progress-bar-fill w-[70%] "></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<section>
  <h1 class="text-3xl mx-20 font-medium text-maintone tracking-widest">Course</h1>
  <article>
    <div>
      <h2 class="flex justify-evenly">
        Software Developer FETAC 5
        <button *ngIf="!isClickedFetac" (click)="clickedFetac(true)">See More</button>
        <button *ngIf="isClickedFetac" (click)="clickedFetac(false)">See Less</button>
      </h2>
      <div class="w-4/5 my-2">
        <!-- Progress bar -->
        <div class="progress-bar">
          <div class="progress-bar-fill w-[80%]">
            Average: 80 %
          </div>
        </div>
      </div>

    </div>
    <ul *ngIf="isClickedFetac">
      <li *ngFor="let course of coursesFetac">
        <div class="text-center">
          <h3 class="font-bold">{{ course }}</h3>
          <h4 class="font-medium ">Grade: {{ fetacGrade }}</h4>
        </div>
      </li>
    </ul>

  </article>

  <article>
    <div>
      <h2 class="flex justify-evenly">
        Business Computing 1st Year
        <button *ngIf="!isClicked1stYear" (click)="Clicked1stYear(true)">See More</button>
        <button *ngIf="isClicked1stYear" (click)="Clicked1stYear(false)">See Less</button>
      </h2>
      <div class="w-4/5 my-2">
        <!-- Progress bar -->
        <div class="progress-bar">
          <div class="progress-bar-fill w-[77%]">
            Average: 77 %
          </div>
        </div>
      </div>
    </div>
    <ul *ngIf="isClicked1stYear">
      <li *ngFor="let course of bc1stYear; let i=index;">
        <div>
          <h3>{{ course }}</h3>
          <div class="w-4/5 my-2">
            <!-- Progress bar -->
            <div class="progress-bar">
              <div class="progress-bar-fill" [ngStyle]="{'width': bcOneGrades[i].num + '%'}" >
                Grade: {{bcOneGrades[i].num}}%
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </article>

  <article>
    <div>
      <h2 class="flex justify-evenly">
        Business Computing 2nd Year
        <button *ngIf="!isClicked2ndYear" (click)="Clicked2ndYear(true)">See More</button>
        <button *ngIf="isClicked2ndYear" (click)="Clicked2ndYear(false)">See Less</button>
      </h2>
      <div class="w-4/5 my-2">
        <!-- Progress bar -->
        <div class="progress-bar">
          <div class="progress-bar-fill w-[100%]">
            Average: Not Yet Determined %
          </div>
        </div>
      </div>
    </div>
    <ul *ngIf="isClicked2ndYear">
      <li *ngFor="let course of bc2ndYear; let i=index;">
        <div>
          <h3>{{ course }}</h3>
          <div class="w-4/5 my-2">
            <!-- Progress bar -->
            <div class="progress-bar">
              <div class="progress-bar-fill" [ngStyle]="{'width': bcTwoGrades[i].num + '%'}" >
                Grade: {{bcTwoGrades[i].num}}%
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </article>

</section>

