<section class="w-full flex flex-col gap-2">
  <!-- Progress bar 1 -->
  <div class="stat-container">
    <div class="w-full flex justify-between font-semibold">
      <span>WordPress</span>
      <span>92 %</span>
    </div>
    <!-- Progress bar -->
    <div class="progress-bar">
      <div class="progress-bar-fill w-[{{92}}%]">
      </div>
    </div>
  </div>

  <!-- Progress bar 2 -->
  <div class="stat-container">
    <div class="progress-bar-header">
      <span>HTML/CSS/Javascript</span>
      <span>90 %</span>
    </div>
    <!-- Progress bar -->
    <div class="progress-bar">
      <div class="progress-bar-fill w-[90%]"></div>
    </div>
  </div>

  <!-- Progress bar 3 -->
  <div class="stat-container">
    <div class="progress-bar-header">
      <span>PHP/Laravel</span>
      <span>80 %</span>
    </div>
    <!-- Progress bar -->
    <div class="progress-bar">
      <div class="progress-bar-fill w-[80%]"></div>
    </div>
  </div>

  <!-- Progress bar 4 -->
  <div class="stat-container">
    <div class="progress-bar-header">
      <span>Vue/Nuxt</span>
      <span>85 %</span>
    </div>
    <!-- Progress bar -->
    <div class="progress-bar">
      <div class="progress-bar-fill w-[85%]"></div>
    </div>
  </div>

  <!-- Progress bar 4 -->
  <div class="stat-container">
    <div class="progress-bar-header">
      <span>Nestjs</span>
      <span>70 %</span>
    </div>
    <!-- Progress bar -->
    <div class="progress-bar">
      <div class="progress-bar-fill w-[70%] "></div>
    </div>
  </div>
</section>
<h1>Based on Pluralsight</h1>
